<div class="container">
  <div class="row">
    <div class="col-lg-11"></div>
    <div class="col-lg-1">
      <%= link_to new_event_path,class: 'btn btn-primary', method: :get do %>
      <i class="fas fa-calendar-plus"></i>
      <% end %>
    </div>
  </div>

  <%= month_calendar events: @events do |date, events| %>
  <%= date.day %>

  <% events.each do |event| %>
    <div>
      <%= link_to event.title, event_path(event.id)%>
    </div>
  <% end %>

<% end %>
</div>

