<h5>日報詳細</h5>
<div class="container">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-3">企業名</div>
    <div class="col-lg-3"></div>
    <div class="col-lg-3"></div>
  </div>
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-3">登録者</div>
    <div class="col-lg-3"><%= @report.customer.name %></div>
    <div class="col-lg-3"></div>
  </div>
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-3">内容</div>
    <div class="col-lg-3"><%= @report.report_text %></div>
    <div class="col-lg-3"></div>
  </div>
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-3">結果</div>
    <div class="col-lg-3"><%= @result[@report.result] %></div>
    <div class="col-lg-3"></div>
  </div>
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-3">次回予定日</div>
    <div class="col-lg-3"><%= @report.next.to_s(:datetime_jp) %></div>
    <div class="col-lg-3"></div>
  </div>
</div>