// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.background{
  background-image: image-url('top.jpg');
  width: 100%;
  height: 1200px;
  background-size: cover;
  background-position: center;

}
.top-text{
 text-align: center;
 height: 100px;
 background-color: rgba( 147, 112, 219, 0.5 );
 font-size: 70px;
 color:#FFFFFF;
 font-family: 'Permanent Marker', cursive;
}
